@* @model Collabby.Domain.Entities.Note

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Note</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 *@

@model NoteViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Notas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label class="control-label">Usuario</label>
            <input class="form-control" id="userId" />
        </div>

        <div class="form-group">
            <label class="control-label">Titulo</label>
            <input class="form-control" id="title" />

        </div>

        <div class="form-group">
            <label class="control-label">Contenido</label>
            <input class="form-control" id="content" />

        </div>

        <div class="form-group">
            <label class="control-label">CrearNota</label>
            <input class="form-control" id="CreatedAt" />

        </div>

        <div class="form-group">
            <label class="control-label">ActualizarNota</label>
            <input class="form-control" id="UpdatedAt" />

        </div>

        <!-- <div class="form-group">
            <label class="control-label">Fecha Registro</label>
            <input asp-for="FechaRegistro" class="form-control" id="Content" />
        </div> 
        -->
        <div class="form-group">
            <button onclick="crearNota()" class="btn btn-success"><i class="bi bi-plus-circle"></i>Crear</button>
        </div>


    </div>
</div>

<div>
    <a asp-action="Index">Regresar<i class="bi bi-arrow-90deg-left"></i></a>
</div>

@section Scripts {
    <script>


        function crearNota() {
            let entity = {
                userId: $("#userId").val(),
                title: $("#title").val(),
                content: $("#content").val(),
                CreatedAt: $("#CreatedAt").val(),
                UpdatedAt: $("#UpdatedAt").val(),
            };
            console.log(entity);
            $.ajax({
                url: `${APINote}/Add`,
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(entity),
                success: function (response) {
                    if (response.success) {
                        window.location.href = "/Notes/Index";
                    } else {
                        alert("Error: " + response.message);
                    }
                },
                error: function (xhr, status, error) {
                    console.error("AJAX Error:", status, error);
                    alert("An error occurred. Please try again.");
                }
            });
        }
    </script>
}